{% extends "base.html" %}
{% block content %}

<h1>Add product</h1>

<form method="POST">
    <label>Name</label>
    <input type="text" name="name">
    <label>Price</label>
    <input type="number" name="price" step="0.01" min="0">
    <label>Quantity</label>
    <input type="number" name="quantity" step="1" min="0">

    <label>Category</label>
    <select name="category_id">
        {% for category in categories %}
            <option value="{{ category[0] }}">{{ category[1] }}</option>
        {% endfor %}
    </select>

    <button type="submit">Add Product</button>
</form>
{% endblock %}
