{% extends "base.html" %}
{% block content %}

<h1>Update product</h1>

<form method="POST">
    <label>Name</label>
    <input type="text" name="name" value="{{ product[1] }}">
    <label>Price</label>
    <input type="number" name="price" step="0.01" min="0" value="{{ product[2] }}">
    <label>Quantity</label>
    <input type="number" name="quantity" step="1" min="0" value="{{ product[3] }}">

    <label>Category</label>
    <select name="category_id">
        {% for category in categories %}
            <option value="{{ category[0] }}" {% if category[0] == product[4] %}selected{% endif %}>
                {{ category[1] }}
            </option>
        {% endfor %}
    </select>

    <button class="btn btn-primary">Update Product</button>
</form>
{% endblock %}
